<div class='note'>
  <header>
    <h1><%= @product.name %></h1>
  </header>

  <header>
    <h2><%= @note.name %></h2>

    <ul class='actions'>
      <li><%= link_to 'Edit Note', [:edit, @product, @note] %></li>
      <li>
        <%= link_to 'Delete Note',
            [@product, @note],
            method: :delete, data: { confirm: "You really want to delete this note?" }
        %>          
      </li>
    </ul>
  </header>

  <%= simple_format(@note.description) %>
</div>