<header class='justify-content-center'>
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
</header>

<div class='row justify-content-center'>
   <div class='col-lg-6 col-md-8 col-sm-10'>

     <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
       <%= render 'devise/shared/error_messages', resource: resource %>
  
     <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>  

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
 
      (Leave This Blank If You Don't Want to Change It)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>  
    
      <%= f.password_field :password_confirmation, label: 'Password Confirmation', autocomplete: "new-password" %>     
      <%= f.password_field :current_password, label: 'Current Password', autocomplete: "current-password" %>
  
      <%= f.submit 'Update', class: 'mt-4 mb-4 btn btn-dark' %>
  <% end %>
  </div>
</div>