<header class='justify-content-center'>
  <h1>Change Your Password</h1>
</header>

<div class='row justify-content-center'>
  <div class='col-lg-6 col-md-8 col-sm-10'>
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>    
    
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    
      <%= f.password_field :password_confirmation, label: "Confirm New Password", autocomplete: "new-password" %>
  
      <%= f.submit "Change My Password", class: 'mt-4 mb-4 btn btn-dark' %>  
  <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
