<h1>New Product</h1>
<%= form_for(@product) do |f| %>
  <p>
    <%= f.label :name, "Product Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>

  <%= f.submit %>
<% end %>