<h1>New Product</h1>

<% if @product.errors.any? %>
 <div id="error_info">
   <h2><%= pluralize(@product.errors.count, "error") %>
   kept this product from being saved:</h2>

   <ul>
     <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
   </ul>
 </div>
<% end %>

<%= form_for(@product) do |f| %>
  <p>
    <%= f.label :name, "Product Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>

  <%= f.submit %>
<% end %>